body {
  color: #232d3b;
  font-size: 14px;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.noScroll {
  height: 100vh;
  overflow: hidden;
}

input, select, textarea {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
  /* to ie 10 */
}

input:focus, input[type="radio"]:focus, input[type="checkbox"]:focus,
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active:focus, .btn.active.focus,
a:focus, a:active:focus {
  outline: none;
  outline-offset: 0;
  outline-color: transparent;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #fff;
  text-decoration: underline;
}

a {
  color: #003d84;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  color: #179bd7;
}

ul.disc {
  padding-left: 25px;
}

ul.disc li {
  list-style: disc;
}

ul li {
  list-style: none;
}

.clearfix {
  clear: both;
}

.wrapper {
  width: 1250px;
  margin: 0 auto;
}

.max-width-100 {
  max-width: 100%;
}

.row3 {
  margin-left: -3px;
  margin-right: -3px;
}

.row5 {
  margin-left: -5px;
  margin-right: -5px;
}

.row7 {
  margin-left: -7px;
  margin-right: -7px;
}

.row10 {
  margin-left: -10px;
  margin-right: -10px;
}

.row12 {
  margin-left: -12px;
  margin-right: -12px;
}

.mTB0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mTB5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mTB10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mTB15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mTB20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mTB30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mTB45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.mTop45 {
  margin-top: 45px !important;
}

.mTop30 {
  margin-top: 30px !important;
}

.mTop25 {
  margin-top: 25px !important;
}

.mTop20 {
  margin-top: 20px !important;
}

.mTop15 {
  margin-top: 15px !important;
}

.mTop10 {
  margin-top: 10px !important;
}

.mTop5 {
  margin-top: 5px !important;
}

.mTop0 {
  margin-top: 0 !important;
}

.mBottom45 {
  margin-bottom: 45px !important;
}

.mBottom30 {
  margin-bottom: 30px !important;
}

.mBottom25 {
  margin-bottom: 25px !important;
}

.mBottom20 {
  margin-bottom: 20px !important;
}

.mBottom15 {
  margin-bottom: 15px !important;
}

.mBottom10 {
  margin-bottom: 10px !important;
}

.mBottom5 {
  margin-bottom: 5px !important;
}

.mBottom0 {
  margin-bottom: 0 !important;
}

.mRight25 {
  margin-right: 25px !important;
}

.mRight20 {
  margin-right: 20px !important;
}

.mRight15 {
  margin-right: 15px !important;
}

.mRight10 {
  margin-right: 10px !important;
}

.mRight7 {
  margin-right: 7px !important;
}

.mRight5 {
  margin-right: 5px !important;
}

.mRight3 {
  margin-right: 3px !important;
}

.mLeft25 {
  margin-left: 25px !important;
}

.mLeft20 {
  margin-left: 20px !important;
}

.mLeft15 {
  margin-left: 15px !important;
}

.mLeft10 {
  margin-left: 10px !important;
}

.mLeft7 {
  margin-left: 7px !important;
}

.mLeft5 {
  margin-left: 5px !important;
}

.mLeft3 {
  margin-left: 3px !important;
}

.mLR0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.p0 {
  padding: 0 !important;
}

.pLR0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pTB10 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pTB20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pTB15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pTB30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pTB60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.padding9 {
  padding: 9px !important;
}

.padding10 {
  padding: 10px !important;
}

.padding15 {
  padding: 15px !important;
}

.pTop15 {
  padding-top: 15px !important;
}

.pTop45 {
  padding-top: 45px !important;
}

.pBottom15 {
  padding-bottom: 15px !important;
}

.pLeft15 {
  padding-left: 15px !important;
}

.pRight15 {
  padding-right: 15px !important;
}

.removeSelect::after {
  display: none;
}

.relative {
  position: relative;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.selectBoxArrow {
  position: relative;
}

.selectBoxArrow::after {
  content: '';
  top: 16px;
  right: 9px;
  width: 8px;
  height: 7px;
  position: absolute;
  background-image: url("../../img/selectboxarrow.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-white {
  background-color: #fff !important;
}

.text-white, .iphone-fix {
  color: #fff !important;
}

.text-black {
  color: #232d3b !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-34 {
  font-size: 34px !important;
}

.fs-44 {
  font-size: 44px !important;
}

.fs-50 {
  font-size: 50px !important;
}

.light {
  font-weight: 300 !important;
}

.normal {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.solid {
  font-weight: 600 !important;
}

.bold {
  font-weight: 700 !important;
}

.text-decoration {
  text-decoration: none;
}

.text-decoration:hover, .text-decoration:focus {
  text-decoration: none;
}

.old-price {
  text-decoration: line-through;
}

input[type="checkbox"],
input[type="radio"] {
  width: 1px;
  height: 1px;
  left: -1000px;
  z-index: -1000;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.scrollBarFix::-webkit-scrollbar-track,
.flexScroll::-webkit-scrollbar-track {
  width: 0;
  height: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  background: none;
}

.scrollBarFix::-webkit-scrollbar,
.flexScroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  background: none;
}

.scrollBarFix::-webkit-scrollbar-thumb,
.flexScroll::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  background: none;
}

.display_991, .display_767, .display_480 {
  display: none !important;
}

.header {
  position: relative;
  margin-bottom: 45px;
}

.top-bar {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  position: absolute;
  padding: 15px 0 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(254, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccfeffff', endColorstr='#00ffffff',GradientType=0 );
}

.logo {
  margin-right: auto;
}

ul.navMenu {
  margin-bottom: 0;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
}

ul.navMenu li {
  margin-right: 20px;
}

ul.navMenu li a {
  color: #726659;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.language {
  margin-left: 7px;
}

.language a {
  color: #726659;
  font-weight: 600;
  margin-left: 7px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.language a:hover {
  color: #726659;
  text-decoration: none;
}

.language a.active {
  font-weight: 700;
}

#support, #sys_btn_toogle_menu {
  width: 42px;
  height: 42px;
  color: #fff;
  display: none;
  padding-top: 4px;
  text-align: center;
  background-color: #c1b49a;
}

#support span, #sys_btn_toogle_menu span {
  display: block;
  font-size: 12px;
  line-height: 100%;
}

#support {
  margin-right: 9px;
}

.sliderImg {
  width: 100%;
  height: 100vh;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.searchBox {
  left: 0;
  width: 100%;
  bottom: 100px;
  position: absolute;
}

.searchBox form {
  padding: 15px 15px 0;
  background-color: #fff;
}

.searchBox .input-field {
  position: relative;
  margin: 0 5px 15px;
  background-color: #fff;
  border-left: 1px solid #c1b49a;
  -ms-flex: 0 0 calc(25% - 10px);
  -webkit-box-flex: 0;
  flex: 0 0 calc(25% - 10px);
  max-width: calc(25% - 10px);
}

.searchBox .input-field:first-child {
  border-left-width: 0;
}

.searchBox .input-field::after {
  content: "\f078";
  right: 11px;
  bottom: 11px;
  color: #c1b49a;
  position: absolute;
  pointer-events: none;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.searchBox .input-field label {
  left: 0;
  top: 9px;
  font-size: 14px;
  color: #726659;
  margin-bottom: 0;
  font-weight: 600;
  padding-left: 15px;
  position: absolute;
  pointer-events: none;
  font-family: 'Open Sans', sans-serif;
}

.searchBox .input-field input, .searchBox .input-field select {
  width: 100%;
  height: 56px;
  font-size: 14px;
  color: #c1b49a;
  font-weight: 600;
  background: none;
  padding: 20px 0 0 15px;
  font-family: 'Open Sans', sans-serif;
  outline: 0;
  border: 0;
}

.searchBox .input-field input::-webkit-input-placeholder {
  color: #c1b49a;
}

.searchBox .input-field input:-ms-input-placeholder {
  color: #c1b49a;
}

.searchBox .input-field input::-ms-input-placeholder {
  color: #c1b49a;
}

.searchBox .input-field input::placeholder {
  color: #c1b49a;
}

.searchBox .submitBtn {
  height: 56px;
  color: #fff;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.95px;
  background-color: #c1b49a;
  font-family: 'Open Sans', sans-serif;
  -ms-flex: 0 0 calc(25% - 10px);
  -webkit-box-flex: 0;
  flex: 0 0 calc(25% - 10px);
  max-width: calc(25% - 10px);
  outline: 0;
  border: 0;
}

.popoverWrap {
  left: 0;
  top: 100%;
  display: none;
  z-index: 1060;
  margin-top: 12px;
  min-width: 260px;
  position: absolute;
  padding: 1px 1px 0;
  white-space: normal;
  width: calc(100% - 30px);
  background-color: #fff;
  border: 1px solid #D7DCE3;
}

.popoverWrap::before {
  content: '';
  left: 35px;
  top: -10px;
  z-index: 9;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #ffffff;
}

.popoverWrap::after {
  content: '';
  left: 34px;
  top: -12px;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #D7DCE3;
}

.popoverWrap.block {
  display: block;
}

.popoverWrap .popoverCloseBtn {
  top: -6px;
  right: -9px;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  border-radius: 2px;
  background-color: #e2c285;
  cursor: pointer;
}

.popoverWrap .labelText {
  font-size: 16px;
  color: #1c1e25;
  font-weight: 400;
  margin-bottom: 0;
}

.popoverWrap .input-group {
  width: 150px;
}

.popoverWrap .input-group .input-group-btn {
  width: 34px;
}

.popoverWrap .input-group .input-group-btn .btn-number {
  width: 34px;
  height: 34px;
  padding: 0 0;
  font-size: 14px;
  color: #1c1e25;
  border-radius: 0;
  position: relative;
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.popoverWrap .input-group .input-group-btn .btn-number:hover, .popoverWrap .input-group .input-group-btn .btn-number:focus {
  color: #1c1e25;
}

.popoverWrap .input-group .input-number {
  border: 0;
  height: 34px;
  padding: 0 0;
  color: #1c1e25;
  text-align: center;
  width: calc(100% - 68px);
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.aboutSection {
  margin-top: 100px;
  padding-bottom: 50px;
  background: url("../../img/about-bg.png") no-repeat bottom center;
}

.aboutSection .img {
  margin: 30px 0;
  border-radius: 3px;
  border: 9px solid #FFF;
  box-shadow: 0 10px 20px 10px rgba(35, 35, 43, 0.2);
  -webkit-box-shadow: 0 10px 20px 10px rgba(35, 35, 43, 0.2);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 620px;
  flex: 0 0 620px;
}

.aboutSection .text {
  margin: 30px 0;
  color: #726659;
  font-style: italic;
  padding: 150px 0 0 30px;
  background: url("../../img/about-title-pattern.png") no-repeat top center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.aboutSection .text strong {
  display: block;
  font-size: 32px;
  color: #726659;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 7px;
}

.aboutSection .text span {
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
}

.aboutSection .text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.aboutSection .text .readMoreBtn {
  width: 230px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 17px 0;
  font-style: normal;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.95px;
  background-color: #c1b49a;
  font-family: 'Open Sans', sans-serif;
}

.aboutSection .text .readMoreBtn:hover, .aboutSection .text .readMoreBtn:focus {
  text-decoration: none;
}

.roomsSection {
  display: block;
  padding-top: 155px;
}

#owl-roomList {
  padding-right: 1px;
}

#owl-roomList::before {
  content: '';
  top: -155px;
  left: -130px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../../img/section-pattern.png") no-repeat top left;
}

#owl-roomList .item {
  z-index: 2;
  position: relative;
  margin-bottom: 30px;
}

#owl-roomList .item a {
  display: block;
  font-size: 18px;
  color: #726659;
  font-style: italic;
  padding: 15px 15px;
  text-decoration: none;
  border: 1px solid transparent;
}

#owl-roomList .item a:hover, #owl-roomList .item a:focus {
  border-color: #726659;
}

#owl-roomList .item a img {
  width: 100%;
  height: 300px;
  display: block;
  margin-bottom: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#owl-roomList .item a strong {
  display: block;
  font-size: 27px;
  margin-bottom: 3px;
}

#owl-roomList .item a p {
  margin-bottom: 0;
  min-height: 106px;
}

#owl-roomList .owl-prev, #owl-roomList .owl-next {
  top: 180px;
  left: 20px;
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: #716558;
  line-height: 36px;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
}

#owl-roomList .owl-next {
  left: auto;
  right: 20px;
}

.introSection {
  width: 100%;
  display: block;
  margin: 30px 0;
}

.introBtn {
  width: 100%;
  display: table;
  margin: 0 auto;
  padding: 100px;
  max-width: 968px;
  position: relative;
  background: url(../../img/section-pattern.png) no-repeat top right;
}

.introBtn img {
  border: 9px solid #fff;
  box-shadow: 0 10px 20px 10px rgba(35, 35, 43, 0.2);
  -webkit-box-shadow: 0 10px 20px 10px rgba(35, 35, 43, 0.2);
}

.photoSection {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.pageTitle {
  width: 100%;
  display: block;
  color: #726659;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.pageTitle strong {
  font-size: 36px;
  font-style: italic;
  position: relative;
  display: inline-block;
}

.pageTitle strong::before {
  content: '';
  top: 0;
  left: -200px;
  width: 181px;
  height: 54px;
  position: absolute;
  background: url("../../img/pagetitle-left-pattern.png") no-repeat center;
  background-size: contain;
}

.pageTitle strong::after {
  content: '';
  top: 0;
  width: 181px;
  height: 54px;
  right: -200px;
  position: absolute;
  background: url("../../img/pagetitle-right-pattern.png") no-repeat center;
  background-size: contain;
}

#owl-photoGallery .item {
  margin: 0 10px;
}

#owl-photoGallery .item img {
  width: 100%;
}

#owl-photoGallery .owl-prev, #owl-photoGallery .owl-next {
  top: 50%;
  left: 20px;
  bottom: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: #716558;
  line-height: 36px;
  margin-top: -18px;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
}

#owl-photoGallery .owl-next {
  left: auto;
  right: 20px;
}

.footer {
  display: block;
  padding: 30px 0;
  background-color: #726659;
}

.fContact {
  font-size: 16px;
  color: #c1b49a;
  margin-bottom: 10px;
}

.fContact i {
  margin-right: 5px;
}

.fTitle {
  display: block;
  font-size: 20px;
  color: #c1b49a;
  font-weight: 500;
  margin-bottom: 10px;
}

ul.fSocial {
  margin-bottom: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

ul.fSocial li {
  margin-left: 20px;
}

ul.fSocial li:first-child {
  margin-left: 0;
}

ul.fSocial li a {
  font-size: 24px;
  color: #c1b49a;
}

.newsletter {
  width: 100%;
  display: block;
  position: relative;
  padding-right: 180px;
}

.newsletter input {
  width: 100%;
  height: 36px;
  display: block;
  font-size: 16px;
  color: #bcaf96;
  font-weight: 500;
  background: none;
  padding: 0 0 0 9px;
  border: 1px solid #bcaf96;
  outline: 0;
}

.newsletter input::-webkit-input-placeholder {
  color: #bcaf96;
}

.newsletter input:-ms-input-placeholder {
  color: #bcaf96;
}

.newsletter input::-ms-input-placeholder {
  color: #bcaf96;
}

.newsletter input::placeholder {
  color: #bcaf96;
}

.newsletter .submitBtn {
  top: 0;
  right: 0;
  width: 180px;
  height: 100%;
  padding: 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  background-color: #c1b49a;
  outline: 0;
  border: 0;
}

.copright {
  display: block;
}

.copright span {
  font-size: 16px;
  color: #bcaf96;
  font-weight: 500;
}

.coverPhoto img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.coverPhoto .shadow {
  z-index: 2;
  width: 100%;
  display: block;
  padding: 50px 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.coverPhoto .shadow h1 {
  margin: 0 0;
  color: #fff;
}

ul.galleryPhotos {
  margin: 0 -10px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

ul.galleryPhotos li {
  padding: 0 10px;
  margin-bottom: 20px;
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
}

.drawer {
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.drawer .accordion-item {
  width: 100%;
  display: block;
}

.accordion-header {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.accordion-header .accordionTitle {
  color: #000;
  cursor: pointer;
  min-height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  overflow: hidden;
  position: relative;
  padding: 5px 40px 5px 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: transparent;
  border: 1px solid #e6e6e6;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.accordion-header .accordionTitle i {
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  position: absolute;
  background-color: #c1b49a;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.accordion-header .accordionTitle i::before {
  content: "\f067";
  width: 16px;
  height: 16px;
  color: #fff;
  display: block;
}

.accordion-header.accordion-header-active .accordionTitle i::before {
  content: "\f068";
}

.accordion-content {
  float: left;
  width: 100%;
  display: none;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: #e6e6e6;
  padding: 15px 15px 5px;
}

.accordion-content p {
  font-size: 16px;
  margin-bottom: 10px;
}

.resultItem {
  margin: 0 -15px 75px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.resultItem.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.resultItem.reverse .img {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.resultItem.reverse .img .img-link {
  left: 45px;
  right: 15px;
}

.resultItem .img {
  padding: 0 15px;
  position: relative;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.resultItem .img .box {
  width: 70%;
  height: 550px;
  position: relative;
  padding-bottom: 25px;
  background-color: #c1b49a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.resultItem .img .box::before {
  content: '';
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  position: absolute;
  border: 2px solid #fff;
}

.resultItem .desc {
  font-size: 21px;
  color: #726659;
  font-style: italic;
  padding: 100px 15px 0;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
  background: url("../../img/list-title-pattern.png") no-repeat right top;
  background-size: 400px;
}

.resultItem .desc .title {
  display: block;
  font-size: 45px;
  color: #726659;
}

.resultItem .desc .subTitle {
  display: block;
  font-size: 27px;
  margin-bottom: 15px;
}

.resultItem .desc a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 20px;
  border-radius: 2px;
  display: inline-block;
  background-color: #c1b49a;
}

.img-link {
  top: 60px;
  z-index: 2;
  left: 15px;
  right: 45px;
  display: block;
  position: absolute;
  padding: 15px 15px;
  border: 2px solid #c1b49a;
}

.img-link img {
  width: 100%;
  height: 330px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

ul.listIcon {
  margin: 0 -10px;
  padding: 0 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

ul.listIcon li {
  padding: 5px 10px;
  position: relative;
  margin-bottom: 10px;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

ul.listIcon li i {
  top: 0;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
}

ul.listIcon li i.icon1 {
  background-image: url("../../img/list-icon1.png");
}

ul.listIcon li i.icon2 {
  background-image: url("../../img/list-icon2.png");
}

ul.listIcon li i.icon3 {
  background-image: url("../../img/list-icon3.png");
}

ul.listIcon li i.icon4 {
  background-image: url("../../img/list-icon4.png");
}

ul.listIcon li span {
  font-size: 16px;
  padding-left: 42px;
}

.contactTitle {
  width: 100%;
  display: block;
  font-size: 30px;
  color: #232323;
  margin-bottom: 5px;
}

.contactSubTitle {
  width: 100%;
  display: block;
  font-size: 18px;
  margin-bottom: 25px;
}

.contactInfo {
  width: 100%;
  display: block;
  padding: 30px 30px 10px;
  border: 1px solid #dee2e6;
}

.contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

.contactInfo ul li {
  color: #726659;
  min-height: 40px;
  position: relative;
  padding-left: 60px;
  margin-bottom: 20px;
}

.contactInfo ul li i {
  left: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  color: #c1b49a;
  font-size: 20px;
  position: absolute;
  border: 1px solid #eee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactInfo ul li strong {
  display: block;
  font-size: 18px;
}

.contactInfo ul li span {
  font-size: 16px;
}

.contactForm {
  width: 100%;
  display: block;
  padding: 30px 30px 10px;
  background-color: #ece7db;
}

.contactForm form {
  margin: 0 -10px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contactForm form .input-field {
  padding: 0 10px;
  margin-bottom: 20px;
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.contactForm form .input-field.w3 {
  -ms-flex: 0 0 33.333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333%;
  max-width: 33.333%;
}

.contactForm form .input-field input, .contactForm form .input-field textarea {
  width: 100%;
  height: 40px;
  display: block;
  font-size: 16px;
  color: #726659;
  padding: 0 0 0 9px;
  background-color: #fff;
  border: 1px solid #ced4da;
  outline: 0;
  border: 0;
}

.contactForm form .input-field textarea {
  height: 75px;
  padding-top: 9px;
}

.contactForm form .input-field input::-webkit-input-placeholder,
.contactForm form .input-field textarea::-webkit-input-placeholder {
  color: #1c1e25;
}

.contactForm form .input-field input:-ms-input-placeholder,
.contactForm form .input-field textarea:-ms-input-placeholder {
  color: #1c1e25;
}

.contactForm form .input-field input::-ms-input-placeholder,
.contactForm form .input-field textarea::-ms-input-placeholder {
  color: #1c1e25;
}

.contactForm form .input-field input::placeholder,
.contactForm form .input-field textarea::placeholder {
  color: #1c1e25;
}

.contactForm form .input-field .submitBtn {
  width: 100%;
  height: 40px;
  padding: 0 0;
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: #c1b49a;
  outline: 0;
  border: 0;
}

.contactMap {
  width: 100%;
  display: block;
  padding: 30px 30px 10px;
  border: 1px solid #dee2e6;
}

.map {
  width: 100%;
  height: 480px;
  display: block;
}
/*# sourceMappingURL=style.css.map */